body{
    background-color: lightgrey;
};



.container-ul {
    
    display:none;
};


.nav-sidebar ul li{
    height: 60px;
    border: 3px solid black;
    width: 200px;
    background-color: aqua;
};









